.App {
  text-align: center;
}

.login {
  height: 722px;
  min-height: 100%;
  background-image: url(https://images.radio.com/aiu-media/gettyimages-526833490-0ab54b11-5d9b-4ee0-9a9a-edabf907daae.jpg);
  background-size: cover;
  margin: auto;
  top: 0;
  bottom: 0;
}

.login-content {
  margin-top: 0;
}

.login h1 {
  color: white;
  padding-top: 10%;
  margin-top: 0;
}

.Song {
  width: 350px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
}

.image-album {
  width: 133px;
  justify-content: center;
}

.Song p {
  margin: 0px;
}

.detail-song {
  text-align: left;
  width: 60%;
  padding-left: 15px;
}

.Song Button {
  text-align: center;
  padding: 7px 10px;
  font-size: 14px;
  margin-top: 5px;
  height: 29px;
}

.search-bar {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-bar input {
  height: 13.7px;
}

.search-bar Button {
  color: white;
  padding: 7px 10px;
  font-size: 14px;
  margin-left: 10px;
  height: 30.5px;
}

.form-playlist {
  padding: 15px;
  width: 300px;
}

.form-playlist Button {
  margin: 15px 0;
  justify-content: center;
}

.create-playlist {
  justify-content: center;
  padding-top: 20px;
}
