.App {
  text-align: center;
}

body {
  background-color: black;
}

header h1 {
  color: white;
}

.login a{
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.image-album {
  width: 100px;
}

.Song {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.Song p {
  font-size: 16px;
  color: white;
  line-height: 10px;
}

table {
  width: 100%;
}

td img {
  width: 30%;
}

.detail-song {
  text-align: left;
  width: 70%;
}

.Song button {
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  border-radius: 5px;
  border: 1.5px solid white;
  padding: 4px 5px;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar button {
  background-color: green;
  border: 1.5px solid white;
  color: white;
  height: 28px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.form-playlist {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.form-playlist button {
  margin: 15px 0;
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.form-playlist input, textarea {
  border-radius: 5px;
}

.form-playlist textarea {
  height: 60px;
}