.App {
  text-align: center;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

.login a{
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.image-album {
  width: 100px;
}

.Song {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  display: flex;
}

.Song p {
  font-size: 16px;
  color: white;
  line-height: 10px;
}

table {
  width: 100%;
}

.Song img {
  width: 30%;
}

.detail-song {
  text-align: left;
  width: 70%;
  padding-left: 20px;
}

.Song button {
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.search-bar {
  margin-bottom: 20px;
  width: 500px;
}

.search-bar input{
  height: 20px;
  border-radius: 5px;
}
.search-bar button{
  background-color: green;
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
  padding: 2.5px 5px;
  font-size: 14px;
  margin-left: 4px;
}
.form-playlist {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  color: white;
  display: grid;
  grid-gap: 5px;
}

.form-playlist button {
  margin: 15px 0;
  background-color: green;
  border: 1.5px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  justify-content: center;
  grid-column: 1/3;
}

.form-playlist input, textarea {
  border-radius: 5px;
  grid-column: 2 / 3;
}

.form-playlist h3 {
  grid-column: 1/3;
}

.form-playlist textarea {
  height: 60px;
}

.form-playlist label {
  grid-column: 1 / 2;
  text-align: left;
}

.create-playlist {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}